<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 col-md-12">
			<input type="text" ng-model="nameFilter" placeholder="Search..."/>
			<h2 class="sub-header">Effectif, saison 2014/2015</h2>
			<div class="table-responsive">
				<table class="table table-striped">	
					<thead>
						<tr>
							<th>#</th>
							<th>Prénom</th>
							<th>Surnom</th>
							<th>Nom</th>
							<th>Rôle</th>
						</tr>	
					</thead>
					<tbody>
						<tr ng-repeat="player in players | filter: searchFilter" ng-mouseenter="enter(player.id)" ng-mouseleave="leave()">
							<td>{{$index +1}}</td>
							<td>{{player.name}}</td>
							<td>{{player.surname}}</td>
							<td>{{player.lastName}}</td>
							<td>{{player.role}}</td>	
						</tr>	
					</tbody>	
				</table>
			</div>	
			<hr/>
			<h3 class="sub-header" ng-show="affiche">Informations complémentaires</h3>
			<div class="table-responsive" id="detail" ng-show="affiche">
				<table class="table table-striped">	
					<thead>
						<tr>
							<th>Naissance</th>
							<th>Email</th>
							<th>Expérience</th>
						</tr>	
					</thead>
					<tbody>
						<tr>
							<td>{{players[currentIndex].birthdate}}</td>
							<td>{{players[currentIndex].email}}</td>
							<td>{{players[currentIndex].yearTeam}}</td>	
						</tr>	
					</tbody>	
				</table>
			</div>
		</div>
	</div>
</div>			